
/* Font imports */
/* Genos */
/* Todo De transformat in Font-Face */
/* @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap'); */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Roboto Serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@font-face {
    font-family: "Genos-Regular-400";
    src: local("Genos"), url(../Fonts/Genos/static/Genos-Regular.ttf), format("truetype");
    font-display: fallback;
}
@font-face {
    font-family: "Genos-Bold-700";
    src: local("Genos"), url(../Fonts/Genos/static/Genos-Bold.ttf), format("truetype");
    font-display: fallback;
}
@font-face {
    font-family: "Roboto-Medium-500";
    src: local("Roboto"), url(../Fonts/Roboto/Roboto-Medium.ttf), format("truetype");
    font-display: fallback;
}

.showNothing{
    display: none;
}

/* Variables */

:root{
    --color-font-black: #000;
    --color-font-white: #fff;
    --width-full: 100%;
}

/* General Styling */

.general-buttons {
    color: var(--color-font-white);
    font-size: 1.5rem;
    font-family: "Genos-Regular-400";
    line-height: 1.2;
    font-weight: 400;
    background-color: rgba(0, 194, 255, 1);
    text-transform: uppercase;
    margin: 60px auto 0;
    border: none;
    cursor: pointer;
}

.general-title-container h2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font-black);
    padding: 0 15px;
}
.general-title-container h3 {
    width: 60%;
    margin: 30px auto 0;
    padding: 0 15px;
    text-align: center;
    font-family: 'Roboto Serif';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font-black);
}
.general-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.general-section {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 15px;
}

.colors { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    z-index: -1;
    filter: blur(50px);
    transform: rotateZ(-5deg) scaleX(1.2) scaleY(0.8);
}
.colors span{
    width: 25%;
    height: 25%;
    
}
.colors span:nth-child(-n+2) {
    background-color: #ee6200;
    animation: switch-colors 6s ease-in-out  infinite alternate;
}
.colors span:nth-child(n+3):nth-child(-n+4) {
    background-color: #5900ff;
    animation: switch-colors 6s ease-in-out  infinite alternate;
}
.colors span:nth-child(n+5):nth-child(-n+8) {
    background-color: #cd0606;
}
.colors span:nth-child(n+9):nth-child(-n+12) {
    background-color: #0a13a0;
}
.colors span:nth-child(13) {
    background-color: #1c8967;
    animation: switch-colors-sec 6s ease-in-out  infinite alternate;
}
.colors span:nth-child(n+14):nth-child(-n+15) {
    background-color: #cd0485;
    animation: switch-colors-sec 6s ease-in-out  infinite alternate;
}
.colors span:nth-child(16) {
    background-color: #1c8967;
}

@keyframes switch-colors {
    35%{
        background-color: #ee6200;
    }
    75%{
        background-color: #5900ff;
    }
}
@keyframes switch-colors-sec {
    35%{
        background-color: #1c8967;
    }
    75%{
        background-color: #cd0485;
    }
}

/* General Styling */

/* Body Styling */

body {
    background-color: #fff;
}
/* ? Pus din javascript */
.un-scroll-body {
    overflow: hidden;
}
.scroll-body {
    overflow: auto;
}

/* Body Styling */

/* Universal Styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Universal Styling */

/* todo Preloader */

.preloader {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 2;
    background-color: #000;
}

.preloader img {
    width: 323px;
    height: 183px;
    animation: imageZoom 500ms linear alternate infinite;
}

@keyframes imageZoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.2);
    }
}

.remove-preloader {
    display: none;
}

/* todo Preloader */

/* *Header */

header {
    position: absolute;
    top: 0;
    width: var(--width-full);
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1400px;
    width: var(--width-full);
    margin: 0 auto;
}
/* header nav img {
    width: 280px;
    height: 160px;
} */
header nav svg {
    width: 321px;
    height: 183px;
}
header nav .nav-btn,
header .mobile-nav .nav-btn {
    color: var(--color-font-white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Genos-Bold-700";
    text-transform: uppercase;
}
header nav .nav-btn.explore,
header .mobile-nav .nav-btn.explore {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join {
    background-color: rgba(0, 194, 255, 1);
    border-radius: 8px;
    border: 2px solid rgba(30, 176, 231, 1);
    padding: 0 8px;
    transition: box-shadow .255s ease-in-out;
}
.join:hover {
    box-shadow: 0px 4px 6px 2px rgba(0, 194, 255, 0.3);
}

/* *Header Mobile Nav */

header .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 320px;
    height: 100dvh;
    background-color: #000;
    position: fixed;
    top: 0;
    padding-top: 70px;
    transform: translateX(-320px);
}
header .mobile-nav.open-mobile {
    transform: translateX(0px);
    animation: open-mobile 1s ease-in-out;
    /* box-shadow: 2px 0px 8px #fff; */
}
@keyframes open-mobile  {
    from{
    transform: translateX(-320px);
    }to{
        transform: translateX(0px);
    }
}
header .mobile-nav.close-mobile {
    transform: translateX(-320px);
    animation: close-mobile 1s ease-in-out;
}
@keyframes close-mobile  {
    from{
        transform: translateX(0px);
    }to{
        transform: translateX(-320px);
    }
}


header .mobile-nav .open-nav-mobile {
    display: flex;
    color: var(--color-font-white);
    position: absolute;
    right: -35px;
    top: 20%;
    background-color: #000;
    padding: 6px;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 6px -2px #fff;
    cursor: pointer;
}
header .mobile-nav .open-nav-mobile .open {
    transform: rotateZ(0deg);
    animation: open-arrow 1s ease-in-out;
}
@keyframes close-arrow {
    from{
        transform: rotateZ(180deg);
    }to{
        transform: rotateZ(0deg);
    }
}
header .mobile-nav .open-nav-mobile .close {
    transform: rotateZ(180deg);
    animation: close-arrow 1s ease-in-out;
}
@keyframes close-arrow {
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(180deg);
    }
}


header .mobile-nav .extra-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -20px;
    overflow: hidden;
    height: 0%;
}
header .mobile-nav .extra-links-animation {
    height: 17%;
    animation: animation-extra-links 1s ease-in-out;
}

@keyframes animation-extra-links {
    from{
        height: 0%;
    }to{
        height: 17%;
    }
}

header .mobile-nav .extra-links::before {
    content: "|";
    color: #fff;
}

/* *Header Mobile Nav */


/* *Header */
  
/* *Main Section - Hero */

main .hero {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main .hero .text-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
    position: absolute;
    margin-left: 5.5%;
    padding-bottom: 5%;
}
main .hero .text-hero h1 {
    max-width: 800px;
    width: var(--width-full);
    text-align: center;
    font-family: "Roboto-Medium-500";
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-font-white);
}
main .hero .text-hero h2 {
    max-width: 650px;
    width: var(--width-full);
    text-align: center;
    font-family: 'Roboto Serif';
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font-white);
    margin-top: 30px;
}
main .hero .text-hero button {
    position: absolute;
    bottom: 25%;
    border-radius: 10px 10px 4px 4px;
    border: none;
    padding: 5px 50px;
    cursor: pointer;
}
main .hero .text-hero button::before {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 0px;
    right: 0;
    /* left: 0; */
    width: 0%;
    border-width: 16px 111px 0px 110.5px;
    border-color: #00c2ff #cf0a0a00 #14b61000 #d10bd000;
    border-style: solid;
}
main .hero .img-container {
    width: 100%;
    box-shadow: inset 0px 0px 70px 120px #000;
    height: 100dvh;
}
main .hero .img-container img {
    vertical-align: middle;
    z-index: -1;
    position: relative;
    object-fit: cover;
}

/* *Main Section - Hero */


/* *Main Section - Misiunea */
.misiunea .container-images-colors {
    display: flex;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 60px auto 0;
}
.misiunea .container-images-colors .images {
    display: grid;
    grid-template-rows: repeat(2, 0.4fr);
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.misiunea .container-images-colors .images div {
    position: relative;
}
.misiunea .container-images-colors .images div .btn-find {
    color: #fff;
    position: absolute;
    cursor: pointer;
    transition: color 225ms linear;
}
.misiunea .container-images-colors .images div .btn-find:hover {
    color: #00c2ff;
}
.misiunea .container-images-colors .images div:nth-child(1) .btn-find {
    bottom: 33%;
    right: 43%;
}
.misiunea .container-images-colors .images div:nth-child(2) .btn-find {
    bottom: 30%;
    right: 38%;
}
.misiunea .container-images-colors .images div:nth-child(3) .btn-find {
    bottom: 25%;
    right: 33%;
}

.misiunea .container-images-colors .images div:nth-child(1) {
    grid-area: 1/1;
    grid-row-end: 3;
}
.misiunea .container-images-colors .images div:nth-child(2) {
    grid-area: 1/2;
}
.misiunea .container-images-colors .images div:nth-child(3) {
    grid-area: 2/2;

}

.misiunea button {
    border-radius: 10px 0 0 10px;
    padding: 3px 12px;
    display: block;
    position: relative;
}

.misiunea button::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -20px;
    height: 0px;
    border-width: 16px 0px 18px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #00c2ff;
}

/* *Main Section - Misiunea */

/* *Main Section Povestea */

.povestea {
    background-color: #dedede;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    box-shadow: 0px 0px 6px 0px #676767;
}

.povestea .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0;
}
.povestea .content p {
    font-family: 'Roboto Serif';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-font-black);
    padding: 20px;
    margin: auto;
}
.povestea .content p:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
}
.povestea .content p:nth-child(7) {
    grid-column: 2/4;
    grid-row: 3/4;
}
.povestea button {
    padding: 3px 10px;
    border-radius: 0 10px 10px 0;
    display: block;
    position: relative;
}
.povestea button::after {
    content: " ";
    position: absolute;
    top: 0;
    left: -20px;
    height: 0px;
    border-width: 16px 20px 19px 0px;
    border-style: solid;
    border-color: transparent #00c2ff transparent transparent;
}

/* *Main Section Povestea */


/* *Main Section Evenimente */

.evenimente .container-events-colors {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
}

.evenimente .container-events-colors .events-place {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.evenimente .container-events-colors .events-place .event {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.evenimente .container-events-colors .events-place .event a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000082;
    text-decoration: none;
}
.evenimente .container-events-colors .events-place .event a h4 {
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--color-font-white);
}
.evenimente .container-events-colors .events-place .event a p {
    font-family: 'Roboto Serif';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font-white);
    width: 90%;
    text-align: center;
}
.evenimente .container-events-colors .events-place .event:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}
.evenimente button{
    padding: 3px 10px;
    border-radius: 10px 0 0 10px;
    display: block;
    position: relative;
}
.evenimente button::after{
    content: " ";
    position: absolute;
    top: 0;
    right: -20px;
    height: 0px;
    border-width: 16px 0px 18px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #00c2ff;
}

/* *Main Section Evenimente */


/* *Main Section Multumire */
.multumire {
    background-color: #dedede;
    border-top: 1px solid #aaaaaa;
    box-shadow: 0px -1px 6px -1px #676767;
}

.multumire .text-thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 60px auto;
}

.multumire .text-thanks .container-image {
    width: 100%;
    height: 100%;
    position: relative;
}
.multumire .text-thanks .container-image .thk-btn {
    padding: 3px 10px;
    border-radius: 10px;
    position: absolute;
    top: 22%;
    right: 7%;
}
.multumire .text-thanks p {
    font-family: 'Roboto Serif';
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-font-black);
    width: 100%;
    text-align: center;
}

/* *Main Section Multumire */

/* * Footer */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 100px;
    border-top: 1px solid #aaaaaa;
    box-shadow: 0px -1px 6px -1px #676767;
}

footer .nav-footer {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
footer .nav-footer .social-media a {
    text-decoration: none;
}
footer .nav-footer .social-media svg {
    margin-left: 20px;
}
footer .nav-footer .social-media svg:first-child {
    margin-left: 0;
}
footer .nav-footer .nav span {
    padding-left: 18px;
    margin-left: 18px;
    border-left: 2px solid #000;
}
footer .nav-footer .nav span:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
}
footer .nav-footer .nav span a {
    font-family: 'Genos';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font-black);
    text-transform: uppercase;
    text-decoration: none;
    transition: text-shadow .255s linear;
}
footer .nav-footer .nav span a:hover {
    text-shadow: 0px 0px 4px #fff;
}
footer .nav-footer p {
    font-family: 'Roboto Serif';
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-font-black);
}
footer .exterior-copy {
    display: none;
}

/* * Footer */


/* !Responsive it will hurt :)*/

@media screen and (max-width: 1700px) {
    main .hero .text-hero h1 {
        font-size: 3.8rem;
    }
    main .hero .text-hero h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1600px) {
    main .hero .text-hero h1 {
        font-size: 3.5rem;
    }
    main .hero .text-hero h2 {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1500px) {
    main .hero .text-hero h1 {
        font-size: 3.3rem;
    }
    main .hero .text-hero h2 {
        font-size: 1.5rem;
        max-width: 430px;
    }
}
@media screen and (max-width: 1400px) {
    main .hero .text-hero h1 {
        font-size: 3rem;
        max-width: 670px;
    }
}
@media screen and (max-width: 1200px) {
    main .hero .text-hero h1 {
        font-size: 2.7rem;
        max-width: 600px;
    }
    main .hero .text-hero h2 {
        font-size: 1.3rem;
        max-width: 380px;
    }
}

@media screen and (max-width: 1100px) {
    header nav img {
        width: 240px;
        height: 140px;
    }
    header nav .nav-btn {
        font-size: 1.3rem;
    }
    main .hero .text-hero h1 {
        font-size: 2.3rem;
        max-width: 600px;
    }
    main .hero .text-hero h2 {
        font-size: 1rem;
        max-width: 300px;
    }
    footer {
        padding: 20px 50px;
    }
}

@media screen and (min-width: 992px) {
    .open-nav-mobile {
        display: none!important;
    }
}

@media screen and (max-width: 991px) {
    .general-title-container h3 {
        width: 80%;
    }
    header nav .nav-btn,
    header nav .nav-btn.explore {
        display: none;
    }
    main .hero .text-hero {
        width: 100%;
        margin-left: 0;
    }
    main .hero .img-container {
        box-shadow: inset 0px 0px 50px 70px #000;
    }
    .povestea .content {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        place-items: center;
    }
    .povestea .content .general-image {
        width: 50%;
    }
    .povestea .content p{
        text-align: center;
    }
    .povestea .content p:nth-child(1) {
        grid-area: 1/1;
    }
    .povestea .content .general-image:nth-child(2) {
        grid-area: 2/1;
    }
    .povestea .content p:nth-child(3) {
        grid-area: 3/1;
    }
    .povestea .content .general-image:nth-child(4) {
        grid-area: 4/1;
    }
    .povestea .content p:nth-child(5) {
        grid-area: 5/1;
    }
    .povestea .content .general-image:nth-child(6) {
        grid-area: 6/1;
    }
    .povestea .content p:nth-child(7) {
        grid-area: 7/1;
    }
    .evenimente .container-events-colors .events-place .event a p {
        font-size: 1rem;
    }
    .multumire .text-thanks {
        flex-direction: column-reverse;
    }
    .multumire .text-thanks p {
        font-size: 1.2rem;
    }
    .multumire .text-thanks .container-image {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    main .hero .text-hero {
        padding: 0 15px;
    }
    .misiunea .container-images-colors .images {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 0.5fr);
    }
    .misiunea .container-images-colors .images div:nth-child(1) {
        grid-area: 1/1;
    }
    .misiunea .container-images-colors .images div:nth-child(2) {
        grid-area: 2/1;
    }
    .misiunea .container-images-colors .images div:nth-child(3) {
        grid-area: 3/1;
    }
    .povestea .content .general-image {
        width: 70%;
    }
    .povestea .content p{
        font-size: 1rem;
    }
    .evenimente .container-events-colors .events-place {
        grid-template-columns: 0.8fr;
        place-content: center;
        width: 100%;
    }
    .evenimente .container-events-colors .events-place .event:nth-child(1) {
        grid-area: 1/1;
    }
    .evenimente .container-events-colors .events-place .event:nth-child(2) {
        grid-area: 2/1;
    }
    .evenimente .container-events-colors .events-place .event:nth-child(3) {
        grid-area: 3/1;
    }
    .evenimente .container-events-colors .events-place .event:nth-child(4) {
        grid-area: 4/1;
    }
    .evenimente .container-events-colors .events-place .event:nth-child(5) {
        grid-area: 5/1;
    }
    .multumire .text-thanks p {
        font-size: 1rem;
    }
    .multumire .text-thanks .container-image .thk-btn {
        top: unset;
        bottom: 30%;
        right: 0;
        left: 0;
        /* width: -moz-fit-content; */
        width: fit-content;
        height: min-content;
    }
    footer {
        flex-direction: column-reverse;
        padding: 20px 25px;
    }
    footer .nav-footer .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .nav-footer .nav span {
        padding-left: unset;
        margin-left: unset;
        border-left: unset;
    }
    footer .nav-footer .interior-copy {
        display: none;
    }
    footer .exterior-copy {
        font-size: 1rem;
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 650px) {
    main .hero .img-container {
        box-shadow: inset 0px 0px 50px 40px #000;
    }
}

@media screen and (max-width: 530px) {
    .general-title-container h2 {
        font-size: 2.5rem;
    }
    .general-title-container h3 {
        width: 100%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    main .hero .img-container {
        box-shadow: inset 0px 0px 50px 10px #000;
    }
    main .hero .text-hero button {
        bottom: 22%;
    }
}



/* !Responsive it will hurt :)*/